:root {
  --bg: rgb(250, 250, 246);
  --bg1: #eee;
  --bg2: #fff;
  --bg-blur: rgba(250, 250, 246, 0.4);
}

body {
  background: var(--bg1);
}

.rootbackground {
  background: var(--bg1);
}

.articleListbackground {
  background: var(--bg2);
}

/* Navbar */

.Navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 16px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 50px;
  padding: 10px 20px;
  background-color: var(--bg-blur);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
}

.Navbar a {
  color: inherit;
  text-decoration: none;
}

.Navbar__Btn {
  border-radius: 0.25rem;
  padding: 0 6px;
  line-height: 1.8125;
  display: flex;
  align-items: center;
  transition: background 30ms ease-in-out;
}

.Navbar__Btn:hover {
  background: rgba(55, 53, 47, 0.08);
}

.Navbar__Btn:active {
  background: rgba(55, 53, 47, 0.16);
}

.Navbar__Delim {
  margin: 0 3px;
  color: rgba(55, 53, 47, 0.4);
}

.navbar-brand {
  display: inline-block;
  font-size: 1.25rem;
  white-space: nowrap;
  margin: 0px auto auto 0px;
}

/* Common Layout */

.Header, .PageRoot, .ArticleList {
  width: 900px;
  max-width: 100%;
  margin: 0px auto;
  padding: 0px 96px;
  background-color: var(--bg2);
  box-shadow: 0px 0px 20px 11px rgba(202, 203, 203, 0.50);
  padding-top: 16px;
  padding-bottom: 16px;
}

@media only screen and (max-width: 900px) {
  .Header, .PageRoot, .ArticleList {
    max-width: 87.5%;
    padding-left: 0;
    padding-right: 0;
  }
}

/* Header */

.Header__Cover > img {
  height: calc(30vh + 50px);
  width: 100%;
  object-fit: cover;
}

.Header__Spacer {
  margin-top: 30vh;
}

.Header__Spacer--NoCover {
  margin-top: calc(50px + 2.5rem);
}

.Header__Icon {
  line-height: 1.1;
  font-size: 75px;
}

.Header__Title {
  margin-top: 2.5rem;
  margin-bottom: 0.25em;
  line-height: 1.2;
  font-size: 2.625rem;
  font-weight: 700;
  letter-spacing: -0.005em;
}

/* DateTagBar */

.DateTagBar {
  font-size: 0.9rem;
  line-height: 1.2;
  display: flex;
  flex-wrap: wrap;
}

.DateTagBar__Item {
  margin-right: 8px;
  margin-bottom: 8px;
  padding: 2px 6px;
  border-radius: 0.25rem;
}

/* Footer */

.Footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  padding: 5rem 3rem;
  color: rgba(55, 53, 47, 0.6);
}

.Footer a {
  color: rgba(55, 53, 47);
}

@media only screen and (max-width: 680px) {
  .Navbar__Btn, .Header__Icon {
    font-size: 14px;  /* Adjusted for Navbar__Btn, set for Header__Icon too */
  }
  .Header__Cover > img {
    height: calc(30vh + 30px);
  }
}

@supports (not (backdrop-filter: blur(20px))) and (not (-webkit-backdrop-filter: blur(20px))) {
  .Navbar {
    background-color: var(--bg);
  }
}
